version: '3.8'

services:
  # NGINX - Rever Proxy & Load Balancer
  proxy:
    image: nginx:alpine
    container_name: proxy 
    ports: 
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/ssl:/etc/nginx/ssl:ro
    depends_on:
      - api
    restart: unless-stopped
    networks:
      - simple-network

  api:
    build:
      context: ./nodeapp
      dockerfile: Dockerfile
    container_name: api
    ports: 
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
      - DATABASE_URL=postgresql://postgres:postgres@database:5432/testdb
      - REDIS_URL=redis://cache:6379
    depends_on:
      - database
      - cache
    restart: unless-stopped
    networks:
      - simple-network

  database:
    images: postgres:15-alpine
    container_name: database
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=exampledb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - simple-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5d
      retries: 5

  cache:
    image: redis:7-alpine
    container_name: cache
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: unless-stopped
    networks:
      - simple-network
    command: redis-server --appendonly yes
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 3s
      retries: 5

  volumes:
    pgdata:
      driver: local
    redis_data:
      driver: local

  # Custom "simple" network
  networks:
    simple-network:
      driver: bridge
